body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

form{
    max-width: 60em;
    padding: 3em;
    margin: 3em auto;
    box-shadow: 0 0 .3em;
    border-radius: 3em;
}

input[type='search']{
    padding: .3em;
}

input{
    vertical-align: middle;
}