@charset "UtF-8";
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 800;
}

h2 {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700; 
}

p {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500; 
    color: hsl(241, 100%, 89%);
    font-size: 18px;
}