@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: linear-gradient(0deg, #10733b, #0a4523);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    -o-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: -90px;
    margin-top: 20px;
}

.cabecalho-item {
    color: #54BF83;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 2px;
}

.cabecalho-item:hover {
    color: #439767;
    font-size: 1.5em;
}

h1 {
    color: #1BBF62;
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-shadow: 2px 1px 3px #128343da;
}

.centro {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.centro > h1 {
    font-family: 'Noto Sans Bold', sans-serif;
    font-weight: 700;
}

